NEUROSEO_SIGNING_SECRET=your_neuroseo_secret_here
GITHUB_TOKEN=your_github_personal_access_token
GITHUB_REPO=yourusername/exemptia-digital-hub
GITHUB_BRANCH=main
SITE_PUBLIC_URL=https://exemptia-digital.com
PORT=3001
